.primary-navigation {
	background: $background-dark;
}

.logo {
	@include font-size(30px);
	@include box-sizing(border-box);
	padding: 0 20px;
	margin: 0;
	display: inline-block;
	color: #fff;
	vertical-align: bottom;
}

nav {
	ul {
		display: inline-block;
		padding: 0;
		margin: 0;
		list-style: none;
	}
		li {
			display: inline-block;
		}
		a {
			@include box-sizing(border-box);
			@include transition(background 300ms ease-in-out);
			color: $light-text;
			display: block;
			text-decoration: none;
			padding: 10px;
			position: relative;

			.definition {
				@include box-sizing(border-box);
				color: $text-dark;
				padding: 10px;
				position: absolute;
				z-index: 100;
				background: $background-light;
				display: none;
				top: 100%;
				left: 0;
				width: 400px;
			}

			&:hover {
				background: $rover;
				.definition {
					display: block;
				}
			}
		}
}