
h1 Heading 1
h2 Heading 2
h3 Heading 3
h4 Heading 4

p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, blanditiis, necessitatibus, officia eaque distinctio delectus corporis corrupti molestias illum rem assumenda enim modi sunt rerum dolor harum cumque laborum eum? Exercitationem, amet, facilis, explicabo quaerat non minima modi veritatis quia ex voluptas impedit itaque et eos alias molestiae error sequi.

p Lorem ipsum dolor sit amet, #[a(href="#") consectetur adipisicing elit]. Repudiandae, reiciendis, et veritatis temporibus eius similique consectetur optio quaerat earum ea eligendi nostrum quas ex quod non facilis inventore! Obcaecati, tenetur!
p Labore tattooed Austin, direct trade excepteur nesciunt sapiente aute qui ennui fingerstache. Godard craft beer trust fund, squid magna meggings meh pour-over hashtag mlkshk. Id laboris viral, odio whatever fingerstache yr magna tousled banjo adipisicing.

ul
    li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, atque?
    li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, sit, sint, a repellat aperiam modi unde excepturi dolorem voluptates minus vero deleniti autem veritatis porro aliquid eos cumque facilis voluptate ut quia delectus quo aut commodi officia laboriosam eius tempora ratione. 
    li Impedit, quos, commodi, maiores et harum voluptate doloremque voluptas corporis pariatur maxime libero officiis vel fuga tempora perferendis accusamus.

ol
    li Minim selvage Portland, crucifix placeat aesthetic XOXO velit bespoke 8-bit. Elit deep v qui anim food truck. Irony bespoke raw denim mlkshk. Pour-over High Life eiusmod ut post-ironic lo-fi accusamus organic minim.
    li Commodo narwhal before they sold out cliche cardigan, Bushwick dolore kogi hoodie pariatur eu blog chambray. Salvia banjo Tumblr, Carles nostrud ennui butcher esse magna pariatur chia. You probably haven't heard of them Austin XOXO, plaid aute gentrify American Apparel.
    li Disrupt esse Blue Bottle qui, nostrud non art party Tumblr XOXO fixie occaecat quis nihil post-ironic craft beer.


blockquote 
    p #[strong Lorem ipsum dolor sit amet], consectetur adipiscing elit. Integer consectetur, quam in commodo aliquet, mi metus dictum felis, eget lobortis sem massa sed tortor. 
    p Donec vitae commodo lorem. Quam in commodo aliquet, mi metus dictum felis, eget lobortis sem massa sed tortor. 
    p 
        small – Salvador Cooper, Colour Keepers Inc.
        
table
    thead
        tr
            th Column title 1
            th Column title 2
            th Column title 3
    tbody
        tr
            th Lorem ipsum dolor
            td Consectetur adipiscing elit.
            td Integer consectetur.
        tr
            th Donec vitae
            td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, fugit!
            td Aut, quaerat cupiditate quia eum modi eaque nemo alias quidem illo ab.