nav.primary-navigation
	h1.logo AlTrove

	ul
			li
				a(href="http://trove.nla.gov.au/book/result?q=%20") 
					| Books
					div.definition Search books, audio books, theses, conference items and pamphlets. Some full text is included.
			li
				a(href="http://trove.nla.gov.au/picture/result?q=%20") 
					| Pictures
					div.definition Search photographs, negatives, artworks, drawings, posters, postcards and other pictures, as well as physical objects such as puzzles, instruments and clothing.
			li
				a(href="http://trove.nla.gov.au/article/result?q=%20") 
					| Articles
					div.definition Search journal articles, reports, book chapters, reviews, working papers, conference items and data sets. Also includes newspaper, magazine and scholarly journal titles.
			li
				a(href="http://trove.nla.gov.au/newspaper/result?q=%20") 
					| Newspapers
					div.definition Search and read fully digitised newspapers from 1803 to 1954
			li
				a(href="http://trove.nla.gov.au/music/result?q=%20") 
					| Multimedia
					div.definition Search for printed music, sheet music, musical sound recordings, interviews with significant people, audio books, movies and other videos.
			li
				a(href="http://trove.nla.gov.au/map/result?q=%20") 
					| Maps
					div.definition Search maps of Australia and the world. Includes printed sheets, atlases, globes, aerial photographs, star charts, nautical charts and tourist maps.
			li
				a(href="http://trove.nla.gov.au/collection/result?q=%20") 
					| Diaries & Letters
					div.definition Search personal and organisational archives, including diaries, manuscripts, letters, business records, photographs, posters, pamphlets, ephemera ... 
			li
				a(href="http://trove.nla.gov.au/website/result?q=%20") 
					| Archived Websites
					div.definition The National Library's PANDORA web archive has been building a collection of Australian websites since 1996. Many of the significant sites preserved by PANDORA, such as the Sydney 2000 Olympic Games website are no longer available on the web. 
			li
				a(href="http://trove.nla.gov.au/people/result?q=%20") 
					| People and Organisations
					div.definition Discover biographical information about significant people and organisations. Find resources by and about them and their relationships to other parties.
			li
				a(href="http://trove.nla.gov.au/list/result?q=%20") Lists

