nav.primary-navigation
	ul
			li
				a(href="http://trove.nla.gov.au/book/result?q=%20") 
					| Books
					div.definition Search books, audio books, theses, conference items and pamphlets. Some full text is included.
			li
				a(href="http://trove.nla.gov.au/picture/result?q=%20") 
					| Pictures
					div.definition Search photographs, negatives, artworks, drawings, posters, postcards and other pictures, as well as physical objects such as puzzles, instruments and clothing.
			li
				a(href="http://trove.nla.gov.au/article/result?q=%20") Articles
			li
				a(href="http://trove.nla.gov.au/newspaper/result?q=%20") Newspapers
			li
				a(href="http://trove.nla.gov.au/music/result?q=%20") Multimedia
			li
				a(href="http://trove.nla.gov.au/map/result?q=%20") Maps
			li
				a(href="http://trove.nla.gov.au/collection/result?q=%20") Diaries & Letters
			li
				a(href="http://trove.nla.gov.au/website/result?q=%20") Archived Websites
			li
				a(href="http://trove.nla.gov.au/people/result?q=%20") People and Organisations
			li
				a(href="http://trove.nla.gov.au/list/result?q=%20") Lists
