form(class="search" action="http://trove.nla.gov.au/result")
	label.primary-search-box
		span.screen-reader-text Search TROVE for people, places and things
		input(name="q" autocomplete="off" class="textboxsearch" title="Search for" placeholder="Search for people, places or things"  value="" type="text")
		button(type='submit').btn.icon-search Search
	div.autocomplete
		h2 Your Searches
		ul.local
		h2 Recent TROVE Searches
		ul.remote


	div.tab-nav
		a.toggle-advanced.btn(href="#") Advanced
		a.toggle-history.btn(href="#") History

	div.tabs
		div.tab.advanced
			fieldset.language
				legend Region stuff

				label 
					span Australian content
					input(type='checkbox', value='y', name='l-australian')

			fieldset.timeframe
				legend Timeframe

				div.date-slider
				p Return results between 
					span.from 1871
					|  to 
					span.to 1949
				div.visually-hidden
					input(type='text', maxlength='4', name='q-year1-date', id='q-year1-date')
					input(type='text', maxlength='4', name='q-year2-date', id='q-year2-date', title='To year')



			fieldset.filters
				legend Filter results to include

				select.filter-options(name='l-format')
					option(value='Archived website') Archived website
					option(value='Article') Article
					option(value='Article/Abstract') Abstract
					option(value='Article/Book chapter') Book chapter
					option(value='Article/Conference paper') Conference paper
					option(value='Article/Journal or magazine article') Journal or magazine article
					option(value='Article/Other article') Other article
					option(value='Article/Report') Report
					option(value='Article/Review') Review
					option(value='Article/Working paper') Working paper
					option(value='Art work') Art work
					option(value='Audio book') Audio book
					option(value='Book') Book
					option(value='Book/Braille') Braille
					option(value='Book/Illustrated') Illustrated
					option(value='Book/Large print') Large print
					option(value='Conference Proceedings') Conference Proceedings
					option(value='Data set') Data set
					option(value='List') List
					option(value='Map') Map
					option(value='Map/Aerial photograph') Aerial photograph
					option(value='Map/Atlas') Atlas
					option(value='Map/Braille') Braille
					option(value='Map/Electronic') Electronic
					option(value='Map/Globe or object') Globe or object
					option(value='Map/Large print ') Large print 
					option(value='Map/Map series') Map series
					option(value='Map/Microform') Microform
					option(value='Map/Single map') Single map
					option(value='Microform') Microform
					option(value='Object') Object
					option(value='Periodical') Periodical
					option(value='Periodical/Journal, magazine, other') Journal, magazine, other
					option(value='Periodical/Newspaper') Newspaper
					option(value='Photograph') Photograph
					option(value='Poster, chart, other') Poster, chart, other
					option(value='Printed music') Printed music
					option(value='Published') Published
					option(value='Sound') Sound
					option(value='Sound/Interview, lecture, talk') Interview, lecture, talk
					option(value='Sound/Other sound') Other sound
					option(value='Sound/Recorded music') Recorded music
					option(value='Thesis') Thesis
					option(value='Unpublished') Unpublished
					option(value='Video') Video
					option(value='Video/Captioned') Captioned

				div.available-filters
				div.added-filters

		div.tab.history
			a.clear-history.btn(href="#") Clear History
			table
				tr
					th Query
					th From
					th To