form(class="search" action="http://trove.nla.gov.au/result")
	label.primary-search-box
		span.screen-reader-text Search TROVE for people, places and things
		input(name="q" class="textboxsearch" title="Search for" placeholder="Search for people, places or things"  value="" type="text")
		button(type='submit').btn.icon-search Search

	div.tab-nav
		a.toggle-advanced.btn(href="#") Advanced
		a.toggle-history.btn(href="#") History

	div.tabs
		div.tab.advanced
			fieldset.language
				legend Region stuff
				label(for='l-language') 
					span Language
					select(name='l-language')
							option(value='') Select a value
							option(value='English') English
							option(value='French') French
							option(value='Spanish') Spanish
							option(value='German') German
							option(value='Japanese') Japanese
							option(value='Undetermined') Undetermined
							option(value='Chinese') Chinese
							option(value='Russian') Russian
							option(value='Italian') Italian
							option(value='Portuguese') Portuguese
							option(value='Polish') Polish
							option(value='No linguistic content') No linguistic content
							option(value='Arabic') Arabic
							option(value='Indonesian') Indonesian
							option(value='Dutch') Dutch
							option(value='Greek, Modern (1453- )') Greek, Modern (1453- )
							option(value='Korean') Korean
							option(value='Latin') Latin
							option(value='Swedish') Swedish
							option(value='Vietnamese') Vietnamese
							option(value='Catalan') Catalan
							option(value='Hebrew') Hebrew
							option(value='Thai') Thai
							option(value='Hindi') Hindi
							option(value='Croatian') Croatian
							option(value='Hungarian') Hungarian
							option(value='Turkish') Turkish
							option(value='Persian') Persian
							option(value='Urdu') Urdu
							option(value='Danish') Danish
							option(value='Ukrainian') Ukrainian
							option(value='Czech') Czech
							option(value='Tamil') Tamil
							option(value='Bengali') Bengali
							option(value='Malay') Malay
							option(value='Multiple languages') Multiple languages
							option(value='Romanian') Romanian
							option(value='Norwegian') Norwegian
							option(value='Welsh') Welsh
							option(value='Bulgarian') Bulgarian
							option(value='Serbian') Serbian
							option(value='Finnish') Finnish
							option(value='English eng') English eng
							option(value='eng          ') eng          
							option(value='Sanskrit') Sanskrit
							option(value='ja_JP') ja_JP
							option(value='Lithuanian') Lithuanian
							option(value='Telugu') Telugu
							option(value='Greek, Ancient (to 1453)') Greek, Ancient (to 1453)
							option(value='Sinhalese') Sinhalese
							option(value='Armenian') Armenian
							option(value='en-aus') en-aus
							option(value='hrv') hrv
							option(value='srp') srp
							option(value='pt_BR') pt_BR
							option(value='Burmese') Burmese
							option(value='Gujarati') Gujarati
							option(value='Panjabi') Panjabi
							option(value='Slovenian') Slovenian
							option(value='Marathi') Marathi
							option(value='Greek') Greek
							option(value='Kannada') Kannada
							option(value='Afrikaans') Afrikaans
							option(value='cht') cht
							option(value='Estonian') Estonian
							option(value='Latvian') Latvian
							option(value='Macedonian') Macedonian
							option(value='Yiddish') Yiddish
							option(value='Espa, ol') Espa, ol
							option(value='Slovak') Slovak
							option(value='Norwegian (Bokmal)') Norwegian (Bokmal)
							option(value='日本語||Japanese') 日本語||Japanese
							option(value='Malayalam') Malayalam
							option(value='Nepali') Nepali
							option(value='Tagalog') Tagalog
							option(value='Tibetan') Tibetan
							option(value='Albanian') Albanian
							option(value='Georgian') Georgian
							option(value='Australian languages') Australian languages
							option(value='Khmer') Khmer
							option(value='Irish') Irish
							option(value='Mongolian') Mongolian
							option(value='Miscellaneous languages') Miscellaneous languages
							option(value='Icelandic') Icelandic
							option(value='N/A') N/A
							option(value='fr ') fr 
							option(value='Kurdish') Kurdish
							option(value='Français') Français
							option(value='Belarusian') Belarusian
							option(value='Oriya') Oriya
							option(value='Galician') Galician
							option(value='Azerbaijani') Azerbaijani
							option(value='Basque') Basque
							option(value='Turkish, Ottoman') Turkish, Ottoman
							option(value='Pushto') Pushto
							option(value='English, Old (ca. 450-1100)') English, Old (ca. 450-1100)
							option(value='Austronesian (Other)') Austronesian (Other)
							option(value='po') po
							option(value='Maori') Maori
							option(value='Amharic') Amharic
							option(value='Bosnian') Bosnian
							option(value='Sindhi') Sindhi
							option(value='Español') Español
							option(value='Swahili') Swahili
							option(value='Javanese') Javanese
							option(value='French, Middle (ca. 1400-1600)') French, Middle (ca. 1400-1600)
							option(value='nl_NL') nl_NL
							option(value='Uzbek') Uzbek
							option(value='ISO 639-2eng') ISO 639-2eng
							option(value='en') en
							option(value='English (United States)') English (United States)
							option(value='engfre') engfre
							option(value='Português') Português
							option(value='Lao') Lao
							option(value='Türkçe (Turkish)') Türkçe (Turkish)
							option(value='Kazakh') Kazakh
							option(value='gr') gr
							option(value='zh-TW') zh-TW
							option(value='Griechisch') Griechisch
							option(value='none') none
							option(value='Maltese') Maltese
							option(value='english') english
							option(value='English, Middle (1100-1500)') English, Middle (1100-1500)
							option(value='engger') engger
							option(value='Tajik') Tajik
							option(value='Papuan (Other)') Papuan (Other)
							option(value='Turkish(Türkçe)') Turkish(Türkçe)
							option(value='French, Old (ca. 842-1300)') French, Old (ca. 842-1300)
							option(value='eng.') eng.
							option(value='Pali') Pali
							option(value='Romance (Other)') Romance (Other)
							option(value='French, Middle (ca. 1300-1600)') French, Middle (ca. 1300-1600)
							option(value='gao') gao
							option(value='Assamese') Assamese
							option(value='Scottish Gaelic') Scottish Gaelic
							option(value='EN          ') EN          
							option(value='Tatar') Tatar
							option(value='zxx') zxx
							option(value='Malagasy') Malagasy
							option(value='German, Middle High (ca. 1050-1500)') German, Middle High (ca. 1050-1500)
							option(value='Catal, n') Catal, n
							option(value='Papiamento') Papiamento
							option(value='Indic (Other)') Indic (Other)
							option(value='Moldavian') Moldavian
							option(value='englat') englat
							option(value='Kyrgyz') Kyrgyz
							option(value='Rajasthani') Rajasthani
							option(value='Esperanto') Esperanto
							option(value='Samoan') Samoan
							option(value='ISO 639-2 eng') ISO 639-2 eng
							option(value='n/a') n/a
							option(value='Sundanese') Sundanese
							option(value='Sino-Tibetan (Other)') Sino-Tibetan (Other)
							option(value='Tigrinya') Tigrinya
							option(value='Hausa') Hausa
							option(value='Egyptian') Egyptian
							option(value='eng') eng
							option(value='Niger-Kordofanian (Other)') Niger-Kordofanian (Other)
							option(value='ｊｐｎ') ｊｐｎ
							option(value='Prakrit languages') Prakrit languages
							option(value='Syriac, Modern') Syriac, Modern
							option(value='Church Slavic') Church Slavic
							option(value='da_DK') da_DK
							option(value='latgrc') latgrc
							option(value='Hawaiian') Hawaiian
							option(value='Balinese') Balinese
							option(value='niemiecki') niemiecki
							option(value='Shona') Shona
							option(value='Scots') Scots
							option(value='grclat') grclat
							option(value='other') other
							option(value='Aramaic') Aramaic
							option(value='Romani') Romani
							option(value='chi') chi
							option(value='None') None
							option(value='English.') English.
							option(value='Portuguese, English') Portuguese, English
							option(value='Akkadian') Akkadian
							option(value='South American Indian (Other)') South American Indian (Other)
							option(value='eesti keeles') eesti keeles
							option(value='Turkmen') Turkmen
							option(value='Somali') Somali
							option(value='en_UK') en_UK
							option(value='Altaic (Other)') Altaic (Other)
							option(value='Gandhari') Gandhari
							option(value='Kharoṣṭhī') Kharoṣṭhī
							option(value='SP') SP
							option(value='Creoles and Pidgins, French-based (Other)') Creoles and Pidgins, French-based (Other)
							option(value='Scottish Gaelix') Scottish Gaelix
							option(value='pt-PT') pt-PT
							option(value='Braj') Braj
							option(value='Konkani') Konkani
							option(value='Yoruba') Yoruba
							option(value='Faroese') Faroese
							option(value='gerlat') gerlat
							option(value='Coptic') Coptic
							option(value='ICWDM Collection') ICWDM Collection
							option(value='English, French') English, French
							option(value='Lahndā') Lahndā
							option(value='Maithili') Maithili
							option(value='Germanic (Other)') Germanic (Other)
							option(value='freeng') freeng
							option(value='Newari') Newari
							option(value='Early Advertising') Early Advertising
							option(value='fra') fra
							option(value='Provençal (to 1500)') Provençal (to 1500)
							option(value='frelat') frelat
							option(value='gereng') gereng
							option(value='Creoles and Pidgins, English-based (Other)') Creoles and Pidgins, English-based (Other)
							option(value='Tongan') Tongan
							option(value='Bashkir') Bashkir
							option(value='saksa keeles') saksa keeles
							option(value='lateng') lateng
							option(value='Mayan languages') Mayan languages
							option(value='Quechua') Quechua
							option(value='英語||English') 英語||English
							option(value='Inglese') Inglese
							option(value='enggrc') enggrc
							option(value='engspa') engspa
							option(value='ger') ger
							option(value='Inglés') Inglés
							option(value='jp') jp
							option(value='English (US)') English (US)
							option(value='Bantu (Other)') Bantu (Other)
							option(value='engita') engita
							option(value='zh_TW') zh_TW
							option(value='Frisian') Frisian
							option(value='es_ES') es_ES
							option(value='Baluchi') Baluchi
							option(value='Slavic (Other)') Slavic (Other)
							option(value='fre') fre
							option(value='Occitan (post-1500)') Occitan (post-1500)
							option(value='engrus') engrus
							option(value='cn') cn
							option(value='gerfre') gerfre
							option(value='Manipuri') Manipuri
							option(value='Finno-Ugrian (Other)') Finno-Ugrian (Other)
							option(value='North American Indian (Other)') North American Indian (Other)
							option(value='Dravidian (Other)') Dravidian (Other)
							option(value='gli') gli
							option(value='es_es') es_es
							option(value='Fijian') Fijian
							option(value='Ethiopic') Ethiopic
							option(value='engund') engund
							option(value='Tetum') Tetum
							option(value='Kashmiri') Kashmiri
							option(value='eng-US') eng-US
							option(value='ain') ain
							option(value='English, Spanish, Portuguese') English, Spanish, Portuguese
							option(value='Portuguese, English, Spanish') Portuguese, English, Spanish
							option(value='Walloon') Walloon
							option(value='Kinyarwanda') Kinyarwanda
							option(value='Ladino') Ladino
							option(value='Portuguese, English, French') Portuguese, English, French
							option(value='frd') frd
							option(value='latger') latger
							option(value='Divehi') Divehi
							option(value='latgre') latgre
							option(value='Judeo-Arabic') Judeo-Arabic
							option(value='Ingles') Ingles
							option(value='français') français
							option(value='Tedesco') Tedesco
							option(value='Spagnolo') Spagnolo
							option(value='Portugués') Portugués
							option(value='Occitan') Occitan
							option(value='spa') spa
							option(value='English, Spanish') English, Spanish
							option(value='Nyanja') Nyanja
							option(value='en: iro') en: iro
							option(value='eng_US') eng_US
							option(value='Francese') Francese
							option(value='İngilizce (English)') İngilizce (English)
							option(value='Breton') Breton
							option(value='pt_PT') pt_PT
							option(value='german') german
							option(value='len') len
							option(value='PO') PO
							option(value='Spanish, sp') Spanish, sp
							option(value='Mandingo') Mandingo
							option(value='Luo (Kenya and Tanzania)') Luo (Kenya and Tanzania)
							option(value='Sotho') Sotho
							option(value='Gallego') Gallego
							option(value='nl-BE') nl-BE
							option(value='Anglais') Anglais
							option(value='Image') Image
							option(value='it ') it 
							option(value='Inuktitut') Inuktitut
							option(value='Zulu') Zulu
							option(value='cap') cap
							option(value='Eskimo languages') Eskimo languages
							option(value='Ganda') Ganda
							option(value='suomi') suomi
							option(value='por') por
							option(value='polski') polski
							option(value='jap') jap
							option(value='Ingl, s') Ingl, s
							option(value='Achinese') Achinese
							option(value='JP') JP
							option(value='French, Dutch') French, Dutch
							option(value='Twi') Twi
							option(value='cro') cro
							option(value='NED') NED
							option(value='ita') ita
							option(value='Wolof') Wolof
							option(value='Xhosa') Xhosa
							option(value='Rarotongan') Rarotongan
							option(value='Tswana') Tswana
							option(value='EN-AUS') EN-AUS
							option(value='Lingala') Lingala
							option(value='English(İngilizce)') English(İngilizce)
							option(value='re ') re 
							option(value='Bambara') Bambara
							option(value='Bemba') Bemba
							option(value='Navajo') Navajo
							option(value='Nilo-Saharan (Other)') Nilo-Saharan (Other)
							option(value='er ') er 
							option(value='Central American Indian (Other)') Central American Indian (Other)
							option(value='er') er
							option(value='Philippine (Other)') Philippine (Other)
							option(value='Kikuyu') Kikuyu
							option(value='English, French, German') English, French, German
							option(value='Elamite') Elamite
							option(value='Tahitian') Tahitian
							option(value='M') M
							option(value='Batak') Batak
							option(value='Dayak') Dayak
							option(value='Koptisch') Koptisch
							option(value='eng English') eng English
							option(value='Dakota') Dakota
							option(value='Sign languages') Sign languages
							option(value='Berber (Other)') Berber (Other)
							option(value='English, Japanese') English, Japanese
							option(value='frp') frp
							option(value='Akan') Akan
							option(value='re') re
							option(value='Ndebele (Zimbabwe)') Ndebele (Zimbabwe)
							option(value='ser') ser
							option(value='Cree') Cree
							option(value='Minangkabau') Minangkabau
							option(value='Sami') Sami
							option(value='Caucasian (Other)') Caucasian (Other)
							option(value='Iranian (Other)') Iranian (Other)
							option(value='djk') djk
							option(value='US English') US English
							option(value='English, Latin') English, Latin
							option(value='pcd') pcd
							option(value='Ägyptisch') Ägyptisch
							option(value='Creoles and Pidgins (Other)') Creoles and Pidgins (Other)
							option(value='ned') ned
							option(value='French, English') French, English
							option(value='Wildlife Services Images Collection') Wildlife Services Images Collection
							option(value='Arabisch') Arabisch
							option(value='English, German') English, German
							option(value='fle') fle
							option(value='Kawi') Kawi
							option(value='English, Chinese') English, Chinese
							option(value='English / Chinese') English / Chinese
							option(value='German, English') German, English
							option(value='Japanese, English') Japanese, English
							option(value='Zuni') Zuni
							option(value='fr') fr
							option(value='e') e
							option(value='zh') zh
							option(value='deu, English') deu, English
							option(value='en.') en.
							option(value='nen') nen
							option(value='Manchu') Manchu
							option(value='Collection material in English.') Collection material in English.
							option(value='el la') el la
							option(value='Afroasiatic (Other)') Afroasiatic (Other)
							option(value='Bulgarian?') Bulgarian?
							option(value='Chinese, English') Chinese, English
							option(value='en_AU') en_AU
							option(value='Nahuatl') Nahuatl
							option(value='engnrus') engnrus
							option(value='la - fr') la - fr
							option(value='フランス語||French') フランス語||French
							option(value='Coptic, English') Coptic, English
							option(value='en-USA') en-USA
							option(value='English, Korean') English, Korean
							option(value='Slovenian?') Slovenian?
							option(value='Đ') Đ
							option(value='English, Arabic') English, Arabic
							option(value='English, Italian') English, Italian
							option(value='ISO 639-2spa') ISO 639-2spa
							option(value='Polish, German') Polish, German
							option(value='Czech?') Czech?
							option(value='English, Hebrew') English, Hebrew
							option(value='English, Polish') English, Polish
							option(value='ISO 639-2fre') ISO 639-2fre
							option(value='Koptisch (?)') Koptisch (?)
							option(value='Kru (Other)') Kru (Other)
							option(value='Raeto-Romance') Raeto-Romance
							option(value='English, Coptic') English, Coptic
							option(value='enk') enk
							option(value='Estonian?') Estonian?
							option(value='freger') freger
							option(value='Kongo') Kongo
							option(value='Polish, English') Polish, English
							option(value='Russian, English') Russian, English
							option(value='aratur') aratur
							option(value='Athapascan (Other)') Athapascan (Other)
							option(value='Dzongkha') Dzongkha
							option(value='English          eng') English          eng
							option(value='German and Latin') German and Latin
							option(value='German, ge') German, ge
							option(value='Griechisch (?)') Griechisch (?)
							option(value='Japanese, French, English') Japanese, French, English
							option(value='unsure') unsure
							option(value='yi') yi
							option(value='English, Egyptian') English, Egyptian
							option(value='French and Latin') French and Latin
							option(value='Gilbertese') Gilbertese
							option(value='Griechisch¬(?)¬') Griechisch¬(?)¬
							option(value='Korean, English') Korean, English
							option(value='la - el') la - el
							option(value='Slavic?') Slavic?
							option(value='Spanish, English') Spanish, English
							option(value='Spanish, French') Spanish, French
							option(value='Spoken English') Spoken English
							option(value='Turkish, English') Turkish, English
							option(value='Algonquian (Other)') Algonquian (Other)
							option(value='Basque, Spanish') Basque, Spanish
							option(value='Brāhmī') Brāhmī
							option(value='cc ') cc 
							option(value='Cebuano') Cebuano
							option(value='Danish, English') Danish, English
							option(value='Done') Done
							option(value='English, Russian') English, Russian
							option(value='Finnish, English') Finnish, English
							option(value='Fort Collins (Colo.)') Fort Collins (Colo.)
							option(value='French, Old (ca. 842-1400)') French, Old (ca. 842-1400)
							option(value='French, Spanish') French, Spanish
							option(value='Griechisch, ▶Koptisch') Griechisch, ▶Koptisch
							option(value='In Russian.') In Russian.
							option(value='Indo-European (Other)') Indo-European (Other)
							option(value='Lateinisch') Lateinisch
							option(value='Nyanja, English') Nyanja, English
							option(value='Ojibwa') Ojibwa
							option(value='Russian?') Russian?
							option(value='Slovak?') Slovak?
							option(value='sp') sp
							option(value='Superior Tribunal de Justiça') Superior Tribunal de Justiça
							option(value='Tok Pisin') Tok Pisin
							option(value='Uighur') Uighur
							option(value='ドイツ語||German') ドイツ語||German
							option(value='Animation') Animation
							option(value='Bamileke languages') Bamileke languages
							option(value='Bulgarian?, English') Bulgarian?, English
							option(value='ch') ch
							option(value='Cushitic (Other)') Cushitic (Other)
							option(value='Czech, English') Czech, English
							option(value='Danish?') Danish?
							option(value='Dutch and Latin') Dutch and Latin
							option(value='egn') egn
							option(value='English and Latin') English and Latin
							option(value='English, Croatian?') English, Croatian?
							option(value='English, Dutch') English, Dutch
							option(value='English, Greek, Ancient (to 1453), Latin') English, Greek, Ancient (to 1453), Latin
							option(value='English, Persian') English, Persian
							option(value='English, Slovenian?') English, Slovenian?
							option(value='English, Swedish') English, Swedish
							option(value='grceng') grceng
							option(value='greeng') greeng
							option(value='Gã') Gã
							option(value='Hebrew, English') Hebrew, English
							option(value='Hungarian?') Hungarian?
							option(value='Ijo') Ijo
							option(value='Italian, English') Italian, English
							option(value='Kalâtdlisut') Kalâtdlisut
							option(value='Karen languages') Karen languages
							option(value='Language') Language
							option(value='Manobo languages') Manobo languages
							option(value='Niuean') Niuean
							option(value='Siouan (Other)') Siouan (Other)
							option(value='ti') ti
							option(value='Tuvaluan') Tuvaluan
							option(value='Acoli') Acoli
							option(value='Bislama') Bislama
							option(value='Dinka') Dinka
							option(value='e M') e M
							option(value='East Frisian') East Frisian
							option(value='ebg') ebg
							option(value='English, German, French') English, German, French
							option(value='English, Greek') English, Greek
							option(value='EnglishFull descriptive record for the Reston Papers is available at http://web.library.uiuc.edu/ahx/archon/controlcard.php?id=5060')
								| EnglishFull (Reston Papers)
							option(value='Englsih') Englsih
							option(value='fregrc') fregrc
							option(value='frerus') frerus
							option(value='Fula') Fula
							option(value='g') g
							option(value='g M') g M
							option(value='gen') gen
							option(value='geregy') geregy
							option(value='grcita') grcita
							option(value='Guarani') Guarani
							option(value='Herero') Herero
							option(value='Hiligaynon') Hiligaynon
							option(value='In Latin and French.') In Latin and French.
							option(value='ISO 639-2enm') ISO 639-2enm
							option(value='Japanese in Chinese characters.') Japanese in Chinese characters.
							option(value='Khoisan (Other)') Khoisan (Other)
							option(value='lac') lac
							option(value='Micmac') Micmac
							option(value='Otomian languages') Otomian languages
							option(value='pid') pid
							option(value='Place-names in English.') Place-names in English.
							option(value='Ponape') Ponape
							option(value='Rundi') Rundi
							option(value='Some place names in English.') Some place names in English.
							option(value='Some text in Chinese') Some text in Chinese
							option(value='Sorbian (Other)') Sorbian (Other)
							option(value='t-n') t-n
							option(value='u-a') u-a
							option(value='Yupik languages') Yupik languages
							option(value='Abkhaz') Abkhaz
							option(value='Also issued with shaded relief.') Also issued with shaded relief.
							option(value='Also issued without shaded relief.') Also issued without shaded relief.
							option(value='ANL') ANL
							option(value='Caution note in English, German, French, and Japanese.') Caution note in English, German, French, and Japanese.
							option(value='Celtic (Other)') Celtic (Other)
							option(value='Chechen') Chechen
							option(value='Chinook jargon') Chinook jargon

				label 
					span Australian content
					input(type='checkbox', value='y', name='l-australian')

			fieldset.timeframe
				legend Timeframe

				div.date-slider
				p Return results between 
					span.from 1871
					|  to 
					span.to 1949
				div.visually-hidden
					input(type='text', maxlength='4', name='q-year1-date', id='q-year1-date')
					input(type='text', maxlength='4', name='q-year2-date', id='q-year2-date', title='To year')



			fieldset.filters
				legend Filter results to include

				select.filter-options(name='l-format')
					option(value='Archived website') Archived website
					option(value='Article') Article
					option(value='Article/Abstract') Abstract
					option(value='Article/Book chapter') Book chapter
					option(value='Article/Conference paper') Conference paper
					option(value='Article/Journal or magazine article') Journal or magazine article
					option(value='Article/Other article') Other article
					option(value='Article/Report') Report
					option(value='Article/Review') Review
					option(value='Article/Working paper') Working paper
					option(value='Art work') Art work
					option(value='Audio book') Audio book
					option(value='Book') Book
					option(value='Book/Braille') Braille
					option(value='Book/Illustrated') Illustrated
					option(value='Book/Large print') Large print
					option(value='Conference Proceedings') Conference Proceedings
					option(value='Data set') Data set
					option(value='List') List
					option(value='Map') Map
					option(value='Map/Aerial photograph') Aerial photograph
					option(value='Map/Atlas') Atlas
					option(value='Map/Braille') Braille
					option(value='Map/Electronic') Electronic
					option(value='Map/Globe or object') Globe or object
					option(value='Map/Large print ') Large print 
					option(value='Map/Map series') Map series
					option(value='Map/Microform') Microform
					option(value='Map/Single map') Single map
					option(value='Microform') Microform
					option(value='Object') Object
					option(value='Periodical') Periodical
					option(value='Periodical/Journal, magazine, other') Journal, magazine, other
					option(value='Periodical/Newspaper') Newspaper
					option(value='Photograph') Photograph
					option(value='Poster, chart, other') Poster, chart, other
					option(value='Printed music') Printed music
					option(value='Published') Published
					option(value='Sound') Sound
					option(value='Sound/Interview, lecture, talk') Interview, lecture, talk
					option(value='Sound/Other sound') Other sound
					option(value='Sound/Recorded music') Recorded music
					option(value='Thesis') Thesis
					option(value='Unpublished') Unpublished
					option(value='Video') Video
					option(value='Video/Captioned') Captioned

				div.available-filters
				div.added-filters

		div.tab.history
			table
				tr
					th Query
					th From
					th To



