//MEDIA QUERIES - Try and make everything fit within these
$mobile-context: "only screen and (max-width: 960px)";
$mobile-strict-context: "only screen and (max-width: 767px)";
$tablet-context: "only screen and (min-width: 768px)";
$tablet-strict-context: "only screen and (min-width: 768px) and (orientation: portrait)";
$desktop-context: "only screen and (min-width: 960px) and (orientation: landscape)";
$large-desktop-context: "only screen and (min-width: 1120px) and (orientation: landscape)";

//TRANSITIONS
$transition-default: all 300ms ease-in-out;

//FONTS
$defaultFontSize: 1;

$main-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   
$grass: #649f41;
$sickly: #aee39b;
$rover: #2a0c25;
$puke: #d2cc25;

$color-accent: $grass;
$color-accent-light: $sickly;

$body-font: $main-font;
$heading-font: $main-font;

$background-dark: #101010;
$background-mid: #2c2c2c;
$background-light: #eaeaea;

$text-dark: #101010;
$text-light: #eaeaea;


$light-text: #fff;