html,
body {
	height: 100%;
}

body {
	background: $background-dark;
	padding: 0;
	margin: 0;
}

.visually-hidden {
	display: none;
}

.site-header,
.primary-content,
.primary-footer {
	position: relative;
	z-index: 2;
}

.site-header {
	z-index: 10;
}

.background {
	top: 0;
	left: 0;
	position: fixed;
	height: calc(100% - 42px;
	width: 100%;
	z-index: 1;
}

.primary-content {
	@include box-sizing(border-box);
	top: 10%;
	width: 60%;
	left: 50%;
	margin-left: -30%;
	position: absolute;
}

.primary-footer {
	background: $background-dark;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	
	nav {
		float: left;
	}

	.signoff {
		@include box-sizing(border-box);
		display: block;
		float: right;
		padding: 10px;
		color: #fff;
		text-decoration: none;
	}
}


//Bad Jonny.
.live-searches {
	a {
		@include transition(color 300ms ease-in-out);
		padding: 5px 10px;
		position: absolute;
		background: rgba($background-dark, 0.8);
		color: lighten($rover, 50%);
		text-decoration: none;
		position: absolute;
		z-index: 1;

		&:visited {
			color: $rover;
		}

		&:hover {
			color: lighten($rover, 70%);
		}
	}
}